# Compilation results
*.class
build/

# Log file
*.log
logs

# BlueJ files
*.ctxt

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IDE specific files
.idea
.workspace

# Gradle cache
.gradle
